In [129]:
import numpy as np

In [130]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [131]:
import seaborn as sns

In [132]:
train1 = pd.read_csv("C:\\Users\\Acer\\Desktop\\flight delay dataset\\Jan_2019_ontime.csv")

In [133]:
train2 = pd.read_csv("C:\\Users\\Acer\\Desktop\\flight delay dataset\\Jan_2020_ontime.csv")

DAY_OF_MONTH - Day of Month
DAY_OF_WEEK - Day of Week starting from Monday.
OP_UNIQUE_CARRIER - Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2).
OP_CARRIER_AIRLINE_ID - An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.
OP_CARRIER - Code assigned by IATA and commonly used to identify a carrier. As the same code may have been assigned to different carriers over time, the code is not always unique.
TAIL_NUM - Tail Number
OP_CARRIER_FL_NUM - Flight Number
ORIGIN_AIRPORT_ID - Origin Airport, 
Airport ID. An identification number assigned by US DOT to identify a unique airport.
ORIGIN_AIRPORT_SEQ_ID - Origin Airport, 
Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.
ORIGINOrigin Airport
DEST_AIRPORT_ID - Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.
DEST_AIRPORT_SEQ_ID - Destination Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.
DEST - Destination Airport
DEP_TIME - Actual Departure Time (local time: hhmm)
DEP_DEL15 - Departure Delay Indicator, 15 Minutes or More (1=Yes, 0=No)
DEP_TIME_BLK - Departure Time Block, Hourly Intervals
ARR_TIME - Actual Arrival Time (local time: hhmm)
ARR_DEL15 - Arrival Delay Indicator, 15 Minutes or More (1=Yes, 0=No)
CANCELLED - Cancelled Flight Indicator (1=Yes, 0=No)
DIVERTED - Diverted Flight Indicator (1=Yes, 0=No)
DISTANCE - Distance between airports (miles)

In [134]:
train1.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [135]:
train2.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN

In [136]:
len(train1.columns)

22

In [137]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583985 entries, 0 to 583984
Data columns (total 22 columns):
DAY_OF_MONTH             583985 non-null int64
DAY_OF_WEEK              583985 non-null int64
OP_UNIQUE_CARRIER        583985 non-null object
OP_CARRIER_AIRLINE_ID    583985 non-null int64
OP_CARRIER               583985 non-null object
TAIL_NUM                 581442 non-null object
OP_CARRIER_FL_NUM        583985 non-null int64
ORIGIN_AIRPORT_ID        583985 non-null int64
ORIGIN_AIRPORT_SEQ_ID    583985 non-null int64
ORIGIN                   583985 non-null object
DEST_AIRPORT_ID          583985 non-null int64
DEST_AIRPORT_SEQ_ID      583985 non-null int64
DEST                     583985 non-null object
DEP_TIME                 567633 non-null float64
DEP_DEL15                567630 non-null float64
DEP_TIME_BLK             583985 non-null object
ARR_TIME                 566924 non-null float64
ARR_DEL15                565963 non-null float64
CANCELLED                583985 non-null float64
DIVERTED                 583985 non-null float64
DISTANCE                 583985 non-null float64
Unnamed: 21              0 non-null float64
dtypes: float64(8), int64(8), object(6)
memory usage: 98.0+ MB

In [138]:
train1.drop(columns="Unnamed: 21",inplace=True)

In [139]:
train2.drop(columns="Unnamed: 21",inplace=True)

In [140]:
(train1.isnull().sum()/len(train1))*100

DAY_OF_MONTH             0.000000
DAY_OF_WEEK              0.000000
OP_UNIQUE_CARRIER        0.000000
OP_CARRIER_AIRLINE_ID    0.000000
OP_CARRIER               0.000000
TAIL_NUM                 0.435456
OP_CARRIER_FL_NUM        0.000000
ORIGIN_AIRPORT_ID        0.000000
ORIGIN_AIRPORT_SEQ_ID    0.000000
ORIGIN                   0.000000
DEST_AIRPORT_ID          0.000000
DEST_AIRPORT_SEQ_ID      0.000000
DEST                     0.000000
DEP_TIME                 2.800072
DEP_DEL15                2.800586
DEP_TIME_BLK             0.000000
ARR_TIME                 2.921479
ARR_DEL15                3.086038
CANCELLED                0.000000
DIVERTED                 0.000000
DISTANCE                 0.000000
dtype: float64

In [141]:
((train1.dtypes != "object").index)

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE'],
      dtype='object')

In [142]:
((train2.dtypes != "object").index)

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE'],
      dtype='object')

In [143]:
df = pd.concat([train1,train2])

In [144]:
df.shape

(1191331, 21)

In [145]:
df.describe()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
count,1.191331e+06,1.191331e+06,1.191331e+06,1.191331e+06,1.191331e+06,1.191331e+06,1.191331e+06,1.191331e+06,1.168315e+06,1.168277e+06,1.167195e+06,1.165231e+06,1.191331e+06,1.191331e+06,1.191331e+06
mean,1.598775e+01,3.896858e+00,1.998878e+04,2.580946e+03,1.265852e+04,1.265856e+06,1.265831e+04,1.265835e+06,1.331729e+03,1.547672e-01,1.481052e+03,1.609183e-01,1.985510e-02,2.053166e-03,7.978853e+02
std,8.989395e+00,1.916886e+00,3.767608e+02,1.822637e+03,1.521957e+03,1.521955e+05,1.521858e+03,1.521856e+05,4.962741e+02,3.616828e-01,5.243978e+02,3.674557e-01,1.395023e-01,4.526535e-02,5.886157e+02
min,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013505e+06,1.013500e+04,1.013505e+06,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.100000e+01
25%,8.000000e+00,2.000000e+00,1.979000e+04,1.027000e+03,1.129200e+04,1.129202e+06,1.129200e+04,1.129202e+06,9.200000e+02,0.000000e+00,1.101000e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.660000e+02
50%,1.600000e+01,4.000000e+00,1.997700e+04,2.142000e+03,1.288900e+04,1.288903e+06,1.288900e+04,1.288903e+06,1.327000e+03,0.000000e+00,1.515000e+03,0.000000e+00,0.000000e+00,0.000000e+00,6.400000e+02
75%,2.400000e+01,5.000000e+00,2.036800e+04,4.009000e+03,1.402700e+04,1.402702e+06,1.402700e+04,1.402702e+06,1.739000e+03,0.000000e+00,1.919000e+03,0.000000e+00,0.000000e+00,0.000000e+00,1.037000e+03
max,3.100000e+01,7.000000e+00,2.045200e+04,7.439000e+03,1.686900e+04,1.686901e+06,1.686900e+04,1.686901e+06,2.400000e+03,1.000000e+00,2.400000e+03,1.000000e+00,1.000000e+00,1.000000e+00,5.095000e+03

In [146]:
len(df["DAY_OF_MONTH"].unique())

31

In [147]:
len(df["DAY_OF_WEEK"].unique())

7

In [148]:
(df["CANCELLED"].unique())

array([0., 1.])

In [149]:
(df.isnull().sum()/len(train1))*100

DAY_OF_MONTH             0.000000
DAY_OF_WEEK              0.000000
OP_UNIQUE_CARRIER        0.000000
OP_CARRIER_AIRLINE_ID    0.000000
OP_CARRIER               0.000000
TAIL_NUM                 0.554980
OP_CARRIER_FL_NUM        0.000000
ORIGIN_AIRPORT_ID        0.000000
ORIGIN_AIRPORT_SEQ_ID    0.000000
ORIGIN                   0.000000
DEST_AIRPORT_ID          0.000000
DEST_AIRPORT_SEQ_ID      0.000000
DEST                     0.000000
DEP_TIME                 3.941197
DEP_DEL15                3.947704
DEP_TIME_BLK             0.000000
ARR_TIME                 4.132983
ARR_DEL15                4.469293
CANCELLED                0.000000
DIVERTED                 0.000000
DISTANCE                 0.000000
dtype: float64

In [150]:
df.corr()["ARR_DEL15"]

DAY_OF_MONTH            -0.005327
DAY_OF_WEEK              0.024707
OP_CARRIER_AIRLINE_ID    0.070229
OP_CARRIER_FL_NUM        0.033355
ORIGIN_AIRPORT_ID        0.007959
ORIGIN_AIRPORT_SEQ_ID    0.007959
DEST_AIRPORT_ID          0.010728
DEST_AIRPORT_SEQ_ID      0.010728
DEP_TIME                 0.129090
DEP_DEL15                0.716551
ARR_TIME                 0.055586
ARR_DEL15                1.000000
CANCELLED                     NaN
DIVERTED                      NaN
DISTANCE                 0.006920
Name: ARR_DEL15, dtype: float64

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1191331 entries, 0 to 607345
Data columns (total 21 columns):
DAY_OF_MONTH             1191331 non-null int64
DAY_OF_WEEK              1191331 non-null int64
OP_UNIQUE_CARRIER        1191331 non-null object
OP_CARRIER_AIRLINE_ID    1191331 non-null int64
OP_CARRIER               1191331 non-null object
TAIL_NUM                 1188090 non-null object
OP_CARRIER_FL_NUM        1191331 non-null int64
ORIGIN_AIRPORT_ID        1191331 non-null int64
ORIGIN_AIRPORT_SEQ_ID    1191331 non-null int64
ORIGIN                   1191331 non-null object
DEST_AIRPORT_ID          1191331 non-null int64
DEST_AIRPORT_SEQ_ID      1191331 non-null int64
DEST                     1191331 non-null object
DEP_TIME                 1168315 non-null float64
DEP_DEL15                1168277 non-null float64
DEP_TIME_BLK             1191331 non-null object
ARR_TIME                 1167195 non-null float64
ARR_DEL15                1165231 non-null float64
CANCELLED                1191331 non-null float64
DIVERTED                 1191331 non-null float64
DISTANCE                 1191331 non-null float64
dtypes: float64(7), int64(8), object(6)
memory usage: 200.0+ MB

In [152]:
df.columns[1]

'DAY_OF_WEEK'

In [153]:
df1 = pd.DataFrame()

In [154]:
for x in df.columns:
    if (df[x].dtypes == "object"):
        df1 = pd.concat([df1,df[x]],axis=1)
    else:
        pass

In [155]:
df1.head()

  OP_UNIQUE_CARRIER OP_CARRIER TAIL_NUM ORIGIN DEST DEP_TIME_BLK
0                9E         9E   N8688C    GNV  ATL    0600-0659
1                9E         9E   N348PQ    MSP  CVG    1400-1459
2                9E         9E   N8896A    DTW  CVG    1200-1259
3                9E         9E   N8886A    TLH  ATL    1500-1559
4                9E         9E   N8974C    ATL  FSM    1900-1959

In [156]:
df1 = df1.drop(columns=["TAIL_NUM"], axis=1)

In [157]:
df["OP_CARRIER"].unique()

array(['9E', 'AA', 'MQ', 'G4', 'OH', 'B6', 'YV', 'EV', 'F9', 'YX', 'HA',
       'NK', 'OO', 'WN', 'AS', 'UA', 'DL'], dtype=object)

In [158]:
len(df["DEP_TIME_BLK"].unique())

19

In [159]:
len(df["TAIL_NUM"].unique())

5858

In [160]:
len(df["ORIGIN"].unique())

353

In [161]:
len(df["DEST"].unique())

353

In [162]:
from sklearn.preprocessing import LabelEncoder

In [163]:
df1 = df1.apply(LabelEncoder().fit_transform)

In [164]:
df1.OP_UNIQUE_CARRIER.unique()

array([ 0,  1,  9,  7, 11,  3, 15,  5,  6, 16,  8, 10, 12, 14,  2, 13,  4],
      dtype=int64)

In [165]:
df1.head()

   OP_UNIQUE_CARRIER  OP_CARRIER  ORIGIN  DEST  DEP_TIME_BLK
0                  0           0     130    19             1
1                  0           0     227    82             9
2                  0           0      97    82             7
3                  0           0     331    19            10
4                  0           0      19   122            14

In [166]:
df_final = df.copy()

In [167]:
df_final.corr()["DEP_DEL15"]*100

DAY_OF_MONTH              -1.317660
DAY_OF_WEEK                2.260058
OP_CARRIER_AIRLINE_ID      3.588670
OP_CARRIER_FL_NUM          2.404685
ORIGIN_AIRPORT_ID          0.284674
ORIGIN_AIRPORT_SEQ_ID      0.284685
DEST_AIRPORT_ID            0.966369
DEST_AIRPORT_SEQ_ID        0.966368
DEP_TIME                  17.270742
DEP_DEL15                100.000000
ARR_TIME                   8.092397
ARR_DEL15                 71.655133
CANCELLED                  1.933904
DIVERTED                   2.083659
DISTANCE                   1.257862
Name: DEP_DEL15, dtype: float64

In [168]:
df1.columns

Index(['OP_UNIQUE_CARRIER', 'OP_CARRIER', 'ORIGIN', 'DEST', 'DEP_TIME_BLK'], dtype='object')

In [169]:
df_final = df_final.drop(['OP_UNIQUE_CARRIER', 'OP_CARRIER', 'ORIGIN', 'DEST', 'DEP_TIME_BLK'],axis=1)

In [170]:
len(df_final.columns)

16

In [171]:
df_final.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,20363,N8688C,3280,11953,1195302,10397,1039707,601.0,0.0,722.0,0.0,0.0,0.0,300.0
1,1,2,20363,N348PQ,3281,13487,1348702,11193,1119302,1359.0,0.0,1633.0,0.0,0.0,0.0,596.0
2,1,2,20363,N8896A,3282,11433,1143302,11193,1119302,1215.0,0.0,1329.0,0.0,0.0,0.0,229.0
3,1,2,20363,N8886A,3283,15249,1524906,10397,1039707,1521.0,0.0,1625.0,0.0,0.0,0.0,223.0
4,1,2,20363,N8974C,3284,10397,1039707,11778,1177801,1847.0,0.0,1940.0,0.0,0.0,0.0,579.0

In [172]:
df_final = pd.concat([df_final,df1],axis = 1)

In [173]:
len(df_final.columns)

21

In [174]:
df_final.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEP_TIME,...,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,OP_UNIQUE_CARRIER,OP_CARRIER,ORIGIN,DEST,DEP_TIME_BLK
0,1,2,20363,N8688C,3280,11953,1195302,10397,1039707,601.0,...,722.0,0.0,0.0,0.0,300.0,0,0,130,19,1
1,1,2,20363,N348PQ,3281,13487,1348702,11193,1119302,1359.0,...,1633.0,0.0,0.0,0.0,596.0,0,0,227,82,9
2,1,2,20363,N8896A,3282,11433,1143302,11193,1119302,1215.0,...,1329.0,0.0,0.0,0.0,229.0,0,0,97,82,7
3,1,2,20363,N8886A,3283,15249,1524906,10397,1039707,1521.0,...,1625.0,0.0,0.0,0.0,223.0,0,0,331,19,10
4,1,2,20363,N8974C,3284,10397,1039707,11778,1177801,1847.0,...,1940.0,0.0,0.0,0.0,579.0,0,0,19,122,14

In [175]:
df_final.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_CARRIER_AIRLINE_ID', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEP_TIME', 'DEP_DEL15',
       'ARR_TIME', 'ARR_DEL15', 'CANCELLED', 'DIVERTED', 'DISTANCE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER', 'ORIGIN', 'DEST', 'DEP_TIME_BLK'],
      dtype='object')

In [176]:
df_final = df_final.drop(["DAY_OF_MONTH","OP_CARRIER_FL_NUM","ORIGIN_AIRPORT_ID","ORIGIN_AIRPORT_SEQ_ID","DEST_AIRPORT_ID","DEST_AIRPORT_SEQ_ID","DIVERTED","DISTANCE"],axis=1)

In [177]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1191331 entries, 0 to 607345
Data columns (total 13 columns):
DAY_OF_WEEK              1191331 non-null int64
OP_CARRIER_AIRLINE_ID    1191331 non-null int64
TAIL_NUM                 1188090 non-null object
DEP_TIME                 1168315 non-null float64
DEP_DEL15                1168277 non-null float64
ARR_TIME                 1167195 non-null float64
ARR_DEL15                1165231 non-null float64
CANCELLED                1191331 non-null float64
OP_UNIQUE_CARRIER        1191331 non-null int32
OP_CARRIER               1191331 non-null int32
ORIGIN                   1191331 non-null int32
DEST                     1191331 non-null int32
DEP_TIME_BLK             1191331 non-null int32
dtypes: float64(5), int32(5), int64(2), object(1)
memory usage: 104.5+ MB

In [179]:
df_final.corr()["DEP_DEL15"]

DAY_OF_WEEK              0.022601
OP_CARRIER_AIRLINE_ID    0.035887
DEP_TIME                 0.172707
DEP_DEL15                1.000000
ARR_TIME                 0.080924
ARR_DEL15                0.716551
CANCELLED                0.019339
OP_UNIQUE_CARRIER        0.006995
OP_CARRIER               0.006995
ORIGIN                   0.003278
DEST                     0.009833
DEP_TIME_BLK             0.117770
Name: DEP_DEL15, dtype: float64

In [180]:
len(df_final.corr()["DEP_DEL15"])

12

In [181]:
df_final.pop("TAIL_NUM")

0         N8688C
1         N348PQ
2         N8896A
3         N8886A
4         N8974C
5         N927EV
6         N915XJ
7         N295PQ
8         N337PQ
9         N311PQ
10        N311PQ
11        N931XJ
12        N800AY
13        N927EV
14        N600LR
15        N840AY
16        N232PQ
17        N8970D
18        N8970D
19        N304PQ
20        N931XJ
21        N902XJ
22        N349PQ
23        N8928A
24        N8928A
25        N371CA
26        N371CA
27        N8836A
28        N918XJ
29        N8896A
           ...
607316    N8908D
607317    N308PQ
607318    N308PQ
607319    N8918B
607320    N8918B
607321    N834AY
607322    N8877A
607323    N8894A
607324    N8894A
607325    N678CA
607326    N678CA
607327    N934XJ
607328    N934XJ
607329    N835AY
607330    N147PQ
607331    N147PQ
607332    N605LR
607333    N605LR
607334    N302PQ
607335    N929XJ
607336    N686BR
607337    N306PQ
607338    N8936A
607339    N329PQ
607340    N909XJ
607341    N331CA
607342    N295PQ
607343    N294PQ
607344    N228PQ
607345    N228PQ
Name: TAIL_NUM, Length: 1191331, dtype: object

In [182]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1191331 entries, 0 to 607345
Data columns (total 12 columns):
DAY_OF_WEEK              1191331 non-null int64
OP_CARRIER_AIRLINE_ID    1191331 non-null int64
DEP_TIME                 1168315 non-null float64
DEP_DEL15                1168277 non-null float64
ARR_TIME                 1167195 non-null float64
ARR_DEL15                1165231 non-null float64
CANCELLED                1191331 non-null float64
OP_UNIQUE_CARRIER        1191331 non-null int32
OP_CARRIER               1191331 non-null int32
ORIGIN                   1191331 non-null int32
DEST                     1191331 non-null int32
DEP_TIME_BLK             1191331 non-null int32
dtypes: float64(5), int32(5), int64(2)
memory usage: 95.4 MB

In [183]:
df_final.isnull().sum()/len(df_final)*100

DAY_OF_WEEK              0.000000
OP_CARRIER_AIRLINE_ID    0.000000
DEP_TIME                 1.931957
DEP_DEL15                1.935146
ARR_TIME                 2.025969
ARR_DEL15                2.190827
CANCELLED                0.000000
OP_UNIQUE_CARRIER        0.000000
OP_CARRIER               0.000000
ORIGIN                   0.000000
DEST                     0.000000
DEP_TIME_BLK             0.000000
dtype: float64

In [184]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1191331 entries, 0 to 607345
Data columns (total 12 columns):
DAY_OF_WEEK              1191331 non-null int64
OP_CARRIER_AIRLINE_ID    1191331 non-null int64
DEP_TIME                 1168315 non-null float64
DEP_DEL15                1168277 non-null float64
ARR_TIME                 1167195 non-null float64
ARR_DEL15                1165231 non-null float64
CANCELLED                1191331 non-null float64
OP_UNIQUE_CARRIER        1191331 non-null int32
OP_CARRIER               1191331 non-null int32
ORIGIN                   1191331 non-null int32
DEST                     1191331 non-null int32
DEP_TIME_BLK             1191331 non-null int32
dtypes: float64(5), int32(5), int64(2)
memory usage: 95.4 MB

In [185]:
df_final["DEP_TIME"] = df_final["DEP_TIME"].fillna(df_final["DEP_TIME"].mean())

In [186]:
df_final["ARR_TIME"] = df_final["ARR_TIME"].fillna(df_final["ARR_TIME"].mean())
df_final["ARR_DEL15"] = df_final["ARR_DEL15"].fillna(df_final["ARR_DEL15"].mode()[0])
df_final["DEP_DEL15"] = df_final["DEP_DEL15"].fillna(df_final["DEP_DEL15"].mode()[0])

In [187]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1191331 entries, 0 to 607345
Data columns (total 12 columns):
DAY_OF_WEEK              1191331 non-null int64
OP_CARRIER_AIRLINE_ID    1191331 non-null int64
DEP_TIME                 1191331 non-null float64
DEP_DEL15                1191331 non-null float64
ARR_TIME                 1191331 non-null float64
ARR_DEL15                1191331 non-null float64
CANCELLED                1191331 non-null float64
OP_UNIQUE_CARRIER        1191331 non-null int32
OP_CARRIER               1191331 non-null int32
ORIGIN                   1191331 non-null int32
DEST                     1191331 non-null int32
DEP_TIME_BLK             1191331 non-null int32
dtypes: float64(5), int32(5), int64(2)
memory usage: 95.4 MB

In [188]:
df_final.corr()["DEP_DEL15"]*100

DAY_OF_WEEK                2.181326
OP_CARRIER_AIRLINE_ID      3.440699
DEP_TIME                  17.239858
DEP_DEL15                100.000000
ARR_TIME                   8.068956
ARR_DEL15                 71.490635
CANCELLED                 -5.554270
OP_UNIQUE_CARRIER          0.463672
OP_CARRIER                 0.463672
ORIGIN                     0.261123
DEST                       0.915856
DEP_TIME_BLK              11.587514
Name: DEP_DEL15, dtype: float64

In [189]:
df_final.head(10)

,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,OP_UNIQUE_CARRIER,OP_CARRIER,ORIGIN,DEST,DEP_TIME_BLK
0,2,20363,601.0,0.0,722.0,0.0,0.0,0,0,130,19,1
1,2,20363,1359.0,0.0,1633.0,0.0,0.0,0,0,227,82,9
2,2,20363,1215.0,0.0,1329.0,0.0,0.0,0,0,97,82,7
3,2,20363,1521.0,0.0,1625.0,0.0,0.0,0,0,331,19,10
4,2,20363,1847.0,0.0,1940.0,0.0,0.0,0,0,19,122,14
5,2,20363,853.0,0.0,953.0,0.0,0.0,0,0,87,227,4
6,2,20363,1553.0,0.0,1832.0,0.0,0.0,0,0,170,19,10
7,2,20363,1551.0,0.0,1824.0,0.0,0.0,0,0,191,82,10
8,2,20363,1037.0,0.0,1239.0,0.0,0.0,0,0,171,191,5
9,2,20363,1245.0,0.0,1318.0,0.0,0.0,0,0,19,40,7

In [191]:
df_final.corr()["DEP_DEL15"]*100

DAY_OF_WEEK                2.181326
OP_CARRIER_AIRLINE_ID      3.440699
DEP_TIME                  17.239858
DEP_DEL15                100.000000
ARR_TIME                   8.068956
ARR_DEL15                 71.490635
CANCELLED                 -5.554270
OP_UNIQUE_CARRIER          0.463672
OP_CARRIER                 0.463672
ORIGIN                     0.261123
DEST                       0.915856
DEP_TIME_BLK              11.587514
Name: DEP_DEL15, dtype: float64

In [192]:
df_final = df_final.drop(["OP_UNIQUE_CARRIER","OP_CARRIER","ORIGIN","DEST"],axis=1)

In [193]:
df_final.corr()["DEP_DEL15"]*100

DAY_OF_WEEK                2.181326
OP_CARRIER_AIRLINE_ID      3.440699
DEP_TIME                  17.239858
DEP_DEL15                100.000000
ARR_TIME                   8.068956
ARR_DEL15                 71.490635
CANCELLED                 -5.554270
DEP_TIME_BLK              11.587514
Name: DEP_DEL15, dtype: float64

In [194]:
from sklearn.model_selection import train_test_split

In [195]:
y = df_final["DEP_DEL15"]

In [196]:
df_final.columns

Index(['DAY_OF_WEEK', 'OP_CARRIER_AIRLINE_ID', 'DEP_TIME', 'DEP_DEL15',
       'ARR_TIME', 'ARR_DEL15', 'CANCELLED', 'DEP_TIME_BLK'],
      dtype='object')

In [197]:
X = df_final.drop(["DEP_DEL15"],axis=1)

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [199]:
X_train

,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,DEP_TIME,ARR_TIME,ARR_DEL15,CANCELLED,DEP_TIME_BLK
124526,2,19790,1425.000000,1948.000000,0.0,0.0,9
172436,4,19805,1423.000000,1611.000000,0.0,0.0,9
150404,3,19790,629.000000,1030.000000,0.0,0.0,1
519194,1,20452,1410.000000,1800.000000,0.0,0.0,9
221265,6,19393,706.000000,827.000000,0.0,0.0,2
273481,2,19805,1342.000000,1649.000000,0.0,0.0,8
345924,6,20409,1937.000000,2359.000000,1.0,0.0,14
315763,5,19393,550.000000,712.000000,0.0,0.0,0
107029,1,19977,629.000000,733.000000,0.0,0.0,1
349960,6,20304,1610.000000,1716.000000,0.0,0.0,11
148083,3,19790,1349.000000,1514.000000,0.0,0.0,8
570907,4,19930,2234.000000,123.000000,0.0,0.0,17
232417,7,19805,1717.000000,2008.000000,0.0,0.0,12
435992,4,20409,2043.000000,429.000000,0.0,0.0,15
34036,4,19977,1222.000000,1438.000000,0.0,0.0,7
40086,5,19805,554.000000,821.000000,0.0,0.0,1
31102,4,19805,1507.000000,1729.000000,0.0,0.0,10
395085,2,20397,1753.000000,1932.000000,0.0,0.0,13
402067,2,20409,545.000000,838.000000,0.0,0.0,1
193632,5,20409,2206.000000,2307.000000,1.0,0.0,16
31273,3,20304,1827.000000,2036.000000,0.0,0.0,13
39927,4,20304,1407.000000,1654.000000,1.0,0.0,9
14919,2,19393,1410.000000,1534.000000,0.0,0.0,9
537038,2,19393,1316.000000,1810.000000,0.0,0.0,8
498683,7,20397,2256.000000,2354.000000,1.0,0.0,17
323830,5,19930,732.000000,1535.000000,0.0,0.0,2
168517,3,19393,1245.000000,1526.000000,0.0,0.0,7
433988,4,19790,823.000000,837.000000,0.0,0.0,3
542737,2,20398,1414.000000,1604.000000,1.0,0.0,9
77289,5,20378,1231.000000,1350.000000,0.0,0.0,7
...,...,...,...,...,...,...,...
594572,5,20304,1655.000000,1841.000000,1.0,0.0,10
65725,5,19805,2330.000000,511.000000,0.0,0.0,18
64158,6,20304,1029.000000,1030.000000,0.0,0.0,5
527035,2,20304,1725.000000,1955.000000,1.0,0.0,9
70826,6,20452,1555.000000,1725.000000,0.0,0.0,11
156730,3,19393,1522.000000,1647.000000,0.0,0.0,10
333055,5,19790,1055.000000,1307.000000,0.0,0.0,6
486232,6,20398,1445.000000,1637.000000,1.0,0.0,9
405451,2,19393,1344.000000,1634.000000,0.0,0.0,8
184779,4,20397,804.000000,1002.000000,0.0,0.0,3
103355,7,19805,1955.000000,2146.000000,0.0,0.0,14
207758,6,20304,1331.728889,1481.051755,0.0,1.0,13
327069,5,19977,1406.000000,1610.000000,0.0,0.0,9
203216,6,19393,1737.000000,2011.000000,1.0,0.0,11
529411,2,19977,930.000000,1040.000000,0.0,0.0,4
329365,5,19393,914.000000,1146.000000,0.0,0.0,4
41090,4,20397,1715.000000,1819.000000,0.0,0.0,12
278167,2,19790,1005.000000,1306.000000,0.0,0.0,5
175203,4,19393,812.000000,928.000000,1.0,0.0,2
328771,5,20304,916.000000,1040.000000,0.0,0.0,3
552089,3,19393,618.000000,720.000000,0.0,0.0,1
415905,3,20363,1342.000000,1506.000000,0.0,0.0,8
137337,2,20416,2236.000000,554.000000,0.0,0.0,17
519477,1,20363,1819.000000,2038.000000,1.0,0.0,10
148195,3,19790,1929.000000,2049.000000,1.0,0.0,13
110268,7,19790,1224.000000,1445.000000,0.0,0.0,7
259178,1,20409,1507.000000,1752.000000,0.0,0.0,10
131932,1,19977,716.000000,936.000000,0.0,0.0,2
87170,7,19393,600.000000,741.000000,0.0,0.0,1
121958,1,20398,728.000000,1041.000000,0.0,0.0,2

In [200]:
df_final["DEP_DEL15"].unique()

array([0., 1.])

In [213]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [214]:
from sklearn.model_selection import RandomizedSearchCV, cross_val_score

In [215]:
cross_val_score(estimator=clf, X=X_test, y=y_test).mean()

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9259220616492981

In [216]:
from sklearn.pipeline import Pipeline

In [217]:
from sklearn.ensemble import RandomForestClassifier

In [218]:
clf1 = RandomForestClassifier(max_depth=2, random_state=0)
clf1.fit(X_train, y_train)

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [219]:
cross_val_score(estimator=clf1, X=X_test, y=y_test).mean()

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

0.8636032969037846

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
C = np.linspace(1,200)

In [ ]:
penalty = ["l1","l2"]

params = dict(C=C,penalty=penalty)
Rand = RandomizedSearchCV(clf,param_distributions=params,n_iter=100,n_jobs=-1,cv=5,random_state=1)
Rand.fit(X_train,y_train)
print(Rand.best_params_)

param_grid = { 
    'n_estimators': [200,300,400,500,600,700,800],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy'],
    'bootstrap':[True,False]
}

Rand2 = RandomizedSearchCV(clf1,param_distributions=param_grid,n_iter=100,n_jobs=-1,cv=5,random_state=1)
Rand2.fit(X_train,y_train)
print(Rand2.best_params_)

In [220]:
from sklearn import tree
clf4 = tree.DecisionTreeClassifier()
clf4 = clf4.fit(X_train, y_train)

In [221]:
cross_val_score(estimator=clf4, X=X_test, y=y_test).mean()

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

0.9226713144635376

In [222]:
clf.fit(X,y)

C:\Users\Acer\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [223]:
import pickle

In [232]:
pickle.dump(clf,open('flight_model.pkl','wb'))

In [234]:
model = pickle.load(open('flight_model.pkl','rb'))

In [235]:
df_final.columns

Index(['DAY_OF_WEEK', 'OP_CARRIER_AIRLINE_ID', 'DEP_TIME', 'DEP_DEL15',
       'ARR_TIME', 'ARR_DEL15', 'CANCELLED', 'DEP_TIME_BLK'],
      dtype='object')

In [238]:
df_final["ARR_TIME"].describe()

count    1.191331e+06
mean     1.481052e+03
std      5.190585e+02
min      1.000000e+00
25%      1.106000e+03
50%      1.503000e+03
75%      1.914000e+03
max      2.400000e+03
Name: ARR_TIME, dtype: float64

In [239]:
df_final.head()

,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,DEP_TIME,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DEP_TIME_BLK
0,2,20363,601.0,0.0,722.0,0.0,0.0,1
1,2,20363,1359.0,0.0,1633.0,0.0,0.0,9
2,2,20363,1215.0,0.0,1329.0,0.0,0.0,7
3,2,20363,1521.0,0.0,1625.0,0.0,0.0,10
4,2,20363,1847.0,0.0,1940.0,0.0,0.0,14